<files *.ini>
order deny,allow
deny from all
</files>

#   Empêche la visualisation de l'arborescence, n'a rien à voir avec le masquage du « index.php ».
#Options -Indexes

#   Active le module de réécriture d'URL.
RewriteEngine on

#
#   Fixe les règles de réécriture d'URL. Ici, nous utilisons une liste blanche.
#
RewriteRule ^robots.txt$											- [L]
RewriteRule ^private/											- [L]
# Exception pour tiny_mce
RewriteRule /tiny_mce/(.+)$  public_html/medias/js/back/tiny_mce/$1 [L]


RewriteRule ^sitemap.xml$								index.php?controller=sitemap&action=start&%{QUERY_STRING} [L]
RewriteRule ^mobile/sitemap.xml$						index.php?controller=sitemap&action=start&application=mobile&%{QUERY_STRING} [L]

RewriteRule ^locale/(.{5})/LC_MESSAGES_JS/(.*).js$                          locale/$1/LC_MESSAGES_JS/$2.js [L]

# Spécifique à La mache
RewriteRule ^doc/([a-zA-Z0-9-_]+)\.([a-z]+)                                 public_html/medias/upload/16/$1.$2 [L]


# Images & documents ajoutés par l'utilisateur
RewriteRule ((temp-)?([0-9]+))/(.+\.(jpg|jpeg|png|gif|pdf))$           public_html/medias/upload/$1/$4 [L]

RewriteRule css/([a-zA-Z/0-9_\-\.]+\.css)$                   public_html/medias/css/$1 [L]
RewriteRule js/([a-zA-Z/0-9_\-\.]+\.js)$                     public_html/medias/js/$1 [L]
RewriteRule img/([a-zA-Z/0-9_\-\.]+\.(ico|gif|jpg|png))$     public_html/medias/img/$1 [L]

RewriteRule swf/([a-zA-Z/0-9_\-\.]+\.swf)$                   public_html/medias/swf/$1 [L]
RewriteRule font/([a-zA-Z/0-9_\-\.]+\.(eot|svg|ttf|woff))$   public_html/medias/font/$1 [L]

RewriteRule ^public_html/index.php$                          public_html/index.php?%{QUERY_STRING} [L]
RewriteRule ^$                                               public_html/index.php?%{QUERY_STRING} [L]
RewriteRule ^(([a-zA-Z0-9\-]+).html)$                        public_html/index.php?action=$2&%{QUERY_STRING} [L]
RewriteRule ^([a-zA-Z0-9/\-]+)/$                             public_html/index.php?controller=$1&%{QUERY_STRING} [L]
RewriteRule ^([a-zA-Z0-9/\-]+)/([a-zA-Z0-9\-]+).html$        public_html/index.php?controller=$1&action=$2&%{QUERY_STRING} [L]


#   Toutes les URL qui ne correspondent pas à ces masques sont réécrites.
RewriteRule ^(.*)$                                                          public_html/index.php?controller=NopChuckTesta%{QUERY_STRING} [L]

SetEnv PHP_VER 5
# php_value magic_quotes_gpc "0"
SetEnv MAGIC_QUOTES 0


# ----------------------------------------------------------------------
# Gzip compression
# ----------------------------------------------------------------------

<IfModule mod_deflate.c>

# Force deflate for mangled headers developer.yahoo.com/blogs/ydn/posts/2010/12/pushing-beyond-gzipping/
<IfModule mod_setenvif.c>
  <IfModule mod_headers.c>
    SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
    RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
  </IfModule>
</IfModule>

# HTML, TXT, CSS, JavaScript, JSON, XML, HTC:
<IfModule filter_module>
  FilterDeclare   COMPRESS
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/html
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/css
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/plain
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/xml
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/x-component
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/javascript
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/json
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/xml
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/xhtml+xml
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/rss+xml
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/atom+xml
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/vnd.ms-fontobject
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $image/svg+xml
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/x-font-ttf
  FilterProvider  COMPRESS  DEFLATE resp=Content-Type $font/opentype
  FilterChain     COMPRESS
  FilterProtocol  COMPRESS  DEFLATE change=yes;byteranges=no
</IfModule>

<IfModule !mod_filter.c>
  # Legacy versions of Apache
  AddOutputFilterByType DEFLATE text/html text/plain text/css application/json
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE text/xml application/xml text/x-component
  AddOutputFilterByType DEFLATE application/xhtml+xml application/rss+xml application/atom+xml
  AddOutputFilterByType DEFLATE image/svg+xml application/vnd.ms-fontobject application/x-font-ttf font/opentype
</IfModule>
</IfModule>



# ----------------------------------------------------------------------
# Expires headers (for better cache control)
# ----------------------------------------------------------------------

# These are pretty far-future expires headers.
# They assume you control versioning with cachebusting query params like
#   <script src="application.js?20100608">
# Additionally, consider that outdated proxies may miscache
#   www.stevesouders.com/blog/2008/08/23/revving-filenames-dont-use-querystring/

# If you don't use filenames to version, lower the CSS  and JS to something like
#   "access plus 1 week" or so.

<IfModule mod_expires.c>
  ExpiresActive on

# Perhaps better to whitelist expires rules? Perhaps.
  ExpiresDefault                          "access plus 1 month"

# cache.appcache needs re-requests in FF 3.6 (thanks Remy ~Introducing HTML5)
  ExpiresByType text/cache-manifest       "access plus 0 seconds"

# Your document html
  ExpiresByType text/html                 "access plus 0 seconds"

# Data
  ExpiresByType text/xml                  "access plus 0 seconds"
  ExpiresByType application/xml           "access plus 0 seconds"
  ExpiresByType application/json          "access plus 0 seconds"

# Feed
  ExpiresByType application/rss+xml       "access plus 1 hour"
  ExpiresByType application/atom+xml      "access plus 1 hour"

# Favicon (cannot be renamed)
  ExpiresByType image/x-icon              "access plus 1 week"

# Media: images, video, audio
  ExpiresByType image/gif                 "access plus 1 month"
  ExpiresByType image/png                 "access plus 1 month"
  ExpiresByType image/jpg                 "access plus 1 month"
  ExpiresByType image/jpeg                "access plus 1 month"
  ExpiresByType video/ogg                 "access plus 1 month"
  ExpiresByType audio/ogg                 "access plus 1 month"
  ExpiresByType video/mp4                 "access plus 1 month"
  ExpiresByType video/webm                "access plus 1 month"

# HTC files  (css3pie)
  ExpiresByType text/x-component          "access plus 1 month"

# Webfonts
  ExpiresByType font/truetype             "access plus 1 month"
  ExpiresByType font/opentype             "access plus 1 month"
  ExpiresByType application/x-font-woff   "access plus 1 month"
  ExpiresByType image/svg+xml             "access plus 1 month"
  ExpiresByType application/vnd.ms-fontobject "access plus 1 month"

# CSS and JavaScript
  ExpiresByType text/css                  "access plus 1 year"
  ExpiresByType application/javascript    "access plus 1 year"

  <IfModule mod_headers.c>
    Header append Cache-Control "public"
  </IfModule>

</IfModule>

